#map {
    background: gray;
}

h1 {
    color: orange;
}

body {
    font-family: "Work Sans", sans-serif;
}

.legend-large, .legend-small {
    border-radius: 50%;
}

hr.small, hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;     /* overwrite assembly.css rule */
    margin-top: 8px;            /* overwrite assembly.css rule */
}

#info {
    z-index: 1000;
}

.boys {
    color: #6E77B0;
}

.girls {
    color: #D96D02;
}

#legend-button {
    bottom: 30px;
    right: 14px;
    position: absolute;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    z-index: 1100;
  }